.navWrap {
    display: block;
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 30px;
}

.nav{
    max-width: 1536px;
    height: 32px;
    background: #fff;
    border: 1px solid #E5E7EB;
    display: flex;
}

.nav-link{
    width: 88px;
    height: 25px;
    
    display: block;
    text-align: center;
    font-size: 13px;
    color: #333;
}
.bottomLine {
    border-bottom: 2px solid #2461BF;
}
